<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Curl Callback</Title>
      <Shortcut>curlcallback</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[[UnmanagedFunctionPointer(CallingConvention.Cdecl)]]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>